ENV_FILE=.env
HTTP_ADDR=0.0.0.0:2005
RABBITMQ_URL=amqp://sussybaka:sussybakadeptrai@localhost:5672/
RABBITMQ_ATTACK_STATUS_QUEUE=attack.status.events
ATTACK_COMMANDS_FILE=commands.json
ATTACK_SCRIPT_DIR=.
