POSTGRES_HOST=192.168.1.240
POSTGRES_PORT=5432
POSTGRES_USER=sussybaka
POSTGRES_PASS=sussybakadeptrai

# Common service listen
COMMON_HOST=0.0.0.0
GATEWAYS_PORT=3000
# Attack service listen
ATTACK_HOST=0.0.0.0
ATTACK_PORT=3001

MONGO_DATABASE_URL=mongodb://sussybaka:sussybakadeptrai@192.168.1.240:27017/?authSource=admin

REDIS_HOST=192.168.1.240
REDIS_PORT=
REDIS_PASSWORD=

ATTACK_SERVICE_DB=attack_service_db
CORE_SERVICE_DB=core_service_db

JWT_ACCESS_SECRET='darkservice_access'
JWT_ACCESS_EXPIRES_IN='15m'
JWT_REFRESH_SECRET='darkservice_refresh'
JWT_REFRESH_EXPIRES_IN='7d'

RABBITMQ_URL='amqp://sussybaka:sussybakadeptrai@192.168.1.240:5672'
RABBITMQ_ATTACK_QUEUE='attack.events'
RABBITMQ_ATTACK_STATUS_QUEUE='attack.status.events'