# For inter-service communication
# TL;DR: Put the IPs of your backend services here.
COMMON_SERVICE_URL=http://127.0.0.1:3000
ATTACK_SERVICE_URL=http://127.0.0.1:4000
PAYMENT_SERVICE_URL=http://127.0.0.1:5000

# Service listen address
# TL;DR: Those ports are the listening ports of your services,
# by default, all services run at 0.0.0.0, so no host config here.
COMMON_PORT=3000
ATTACK_PORT=4000
PAYMENT_PORT=5000
# TL;DR: Put the IP where do you access the URL of dashboard, it can be your domain.
CORS_ORIGIN=http://localhost:5173,http://127.0.0.1:5173

# Attack node health endpoint
ATTACK_NODE_PROTOCOL=http
ATTACK_NODE_PORT=2005

# Redis for cache and sessions.
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# PostgreSQL
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=<postgres-user>
POSTGRES_PASS=<postgres-password>
ATTACK_SERVICE_DB=attack_service_db
CORE_SERVICE_DB=core_service_db
PAYMENT_SERVICE_DB=payment_service_db

# JWT credentials
JWT_ACCESS_SECRET=<generate-a-long-random-secret>
JWT_ACCESS_EXPIRES_IN='15m'
JWT_REFRESH_SECRET=<generate-a-long-random-secret>
JWT_REFRESH_EXPIRES_IN='7d'

# RabbitMQ gateway and queues
RABBITMQ_URL='amqp://<user>:<password>@<rabbitmq-host>:5672'
RABBITMQ_ATTACK_QUEUE='attack.events'
RABBITMQ_ATTACK_STATUS_QUEUE='attack.status.events'
RABBITMQ_PAYMENT_QUEUE='payment.events'

# Payment gateway (SePay)
SEPAY_HMAC_SHA256_KEY=<sepay-hmac-secret>
QR_CODE_BANK=<bank-code>
QR_CODE_ACCOUNT=<account-number>
QR_CODE_HOLDER=<account-holder>
QR_CODE_GEN_API=https://vietqr.app/img?bank=&acc=&template=standee&amount=&des=&fullacc=true&holder=&store=LoadService

# Google (Auth/Gmail)
GOOGLE_CLIENT_ID=<google-client-id>
GOOGLE_CLIENT_SECRET=<google-client-secret>
# TL;DR: Put the IP of your reverse proxy.
GOOGLE_CALLBACK_URL=http://localhost:8080/api/v1/auth/google/callback
GOOGLE_OAUTH_SCOPES=openid profile email
# TL;DR: Put the IP of your dashboard server.
GOOGLE_FRONTEND_CALLBACK_URL=http://localhost:5173/auth/google-callback

# Email / SMTP
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=<smtp-user>
MAIL_PASSWORD=<smtp-app-password>
MAIL_FROM="LoadService <sender@example.com>"
# TL;DR: Put the IP of your dashboard server.
MAIL_RESET_PASSWORD_URL=http://localhost:5173/forgot-password
# TL;DR: Put the IP of your reverse proxy.
MAIL_VERIFY_EMAIL_URL=http://localhost:8080/api/v1/auth/verify-email
# TL;DR: Put the IP of your dashboard server.
MAIL_VERIFY_EMAIL_CALLBACK_URL=http://localhost:5173/verify-email
APP_TIMEZONE=Asia/Bangkok
