# For inter-service communication
COMMON_SERVICE_URL=http://127.0.0.1:3000
ATTACK_SERVICE_URL=http://127.0.0.1:4000
ATTACK_SERVICE_URL=http://127.0.0.1:5000

# Service listen address
GATEWAYS_PORT=3000
ATTACK_PORT=4000
PAYMENT_PORT=5000

# Redis for cache and sessions.
REDIS_HOST=192.168.1.240
REDIS_PORT=
REDIS_PASSWORD=


# PostgreSQL, currently at development environment so only 1 PostgreSQL instance
# is used here.
POSTGRES_HOST=192.168.1.240
POSTGRES_PORT=5432
POSTGRES_USER=sussybaka
POSTGRES_PASS=sussybakadeptrai
ATTACK_SERVICE_DB=attack_service_db
CORE_SERVICE_DB=core_service_db
PAYMENT_SERVICE_DB=payment_service_db

# JWT credentials
JWT_ACCESS_SECRET='darkservice_access'
JWT_ACCESS_EXPIRES_IN='15m'
JWT_REFRESH_SECRET='darkservice_refresh'
JWT_REFRESH_EXPIRES_IN='7d'

# RabbitMQ gateway and queues
RABBITMQ_URL='amqp://sussybaka:sussybakadeptrai@192.168.1.240:5672'
RABBITMQ_ATTACK_QUEUE='attack.events'
RABBITMQ_ATTACK_STATUS_QUEUE='attack.status.events'
RABBITMQ_PAYMENT_QUEUE='payment.events'

# Payment gateway (SePay)
SEPAY_HMAC_SHA256_KEY=sussybakacute
QR_CODE_BANK=MBBank
QR_CODE_ACCOUNT=4013092005
QR_CODE_HOLDER=VO NGOC BAO
QR_CODE_GEN_API=https://vietqr.app/img?bank=&acc=&template=standee&amount=&des=&fullacc=true&holder=&store=LoadService