# If you wonder why there's no HTTP listen address config here, that's normal, because
# this is RabbitMQ consumer & producer, HTTP definitely isn't neccessary here. 
RABBITMQ_URL=amqp://<user>:<password>@<rabbitmq-host>:5672/
RABBITMQ_ATTACK_QUEUE=attack.events
RABBITMQ_ATTACK_STATUS_QUEUE=attack.status.events
