RABBITMQ_URL=amqp://sussybaka:sussybakadeptrai@192.168.1.240:5672/
RABBITMQ_ATTACK_QUEUE=attack.events
RABBITMQ_ATTACK_STATUS_QUEUE=attack.status.events
ATTACK_NODE_PROTOCOL=http
ATTACK_NODE_PORT=6666