# Your reverse proxy
VITE_API_URL=http://192.168.1.37:8080/api/v1
# Your backend. I prefer to use direct URL for socket due to some socket packets have been 
# dropped when communicate through reverse proxy, idk why.
VITE_COMMON_SOCKET_URL=http://192.168.1.240:3000
VITE_PAYMENT_SOCKET_URL=http://192.168.1.240:5000
VITE_ATTACK_SOCKET_URL=http://192.168.1.240:4000
# Only for development
VITE_ALLOWED_HOSTS=localhost,127.0.0.1,reactjs.vnb13925.online
